<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>ExamResults</servlet-name>
		<servlet-class>com.mindstormsoftware.examresults.ExamResultsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExamResults</servlet-name>
		<url-pattern>/examresults</url-pattern>
	</servlet-mapping>
	
	<!-- ExamResults Bot -->
	<servlet>
		<servlet-name>ExamResultsBot</servlet-name>
		<servlet-class>com.mindstormsoftware.examresults.ExamResultsBotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExamResultsBot</servlet-name>
		<url-pattern>/_ah/xmpp/message/chat/</url-pattern>
	</servlet-mapping>
	
	<!--  ExamResults Incoming Email Handler -->
	<servlet>
		<servlet-name>ExamResultsEmailHandler</servlet-name>
		<servlet-class>com.mindstormsoftware.examresults.ExamResultsEmailHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExamResultsEmailHandler</servlet-name>
		<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
        <description>Uncaught exception</description>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
	
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>